html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'WeddingDay';
  src: url('./assets/weddingday.ttf') format('truetype');
}

@font-face {
  font-family: 'WeatherSunday';
  src: url('./assets/WeatherSunday.otf') format('opentype');
}

@font-face {
  font-family: 'Calligrapher';
  src: url('./assets/Calligrapher.ttf') format('truetype');
}

@font-face {
  font-family: 'Dhellia';
  src: url('./assets/Dhellia.otf') format('opentype');
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/PlayfairDisplay/PlayfairDisplay-Regular.ttf') format('truetype'),
  url('./assets/PlayfairDisplay/PlayfairDisplay-Medium.ttf') format('truetype'),
  url('./assets/PlayfairDisplay/PlayfairDisplay-SemiBold.ttf') format('truetype'),
  url('./assets/PlayfairDisplay/PlayfairDisplay-Bold.ttf') format('truetype'),
  url('./assets/PlayfairDisplay/PlayfairDisplay-ExtraBold.ttf') format('truetype'),
  url('./assets/PlayfairDisplay/PlayfairDisplay-Black.ttf') format('truetype'),
  url('./assets/PlayfairDisplay/PlayfairDisplay-Italic.ttf') format('truetype'),
  url('./assets/PlayfairDisplay/PlayfairDisplay-MediumItalic.ttf') format('truetype'),
  url('./assets/PlayfairDisplay/PlayfairDisplay-SemiBoldItalic.ttf') format('truetype'),
  url('./assets/PlayfairDisplay/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
  url('./assets/PlayfairDisplay/PlayfairDisplay-ExtraBoldItalic.ttf') format('truetype'),
  url('./assets/PlayfairDisplay/PlayfairDisplay-BlackItalic.ttf') format('truetype');
}

body {
  font-family: 'Inter', sans-serif;
}

/* HeroCards background shadow */
.shadow {
  position: absolute;
  background: hsl(var(--primary) / 0%);
  border-radius: 24px;
  rotate: 35deg;
  z-index: -1;
  width: 260px;
  top: 200px;
  height: 400px;
  filter: blur(150px);
  will-change: transform;
  animation: shadow-slide infinite 4s linear alternate;
}

.section {
  min-height: calc(100dvh - 60px);
}

@keyframes shadow-slide {
  from {
    background: hsl(var(--primary) / 20%);
    right: 460px;
  }
  to {
    background: hsl(var(--primary) / 80%);
    right: 160px;
  }
}

@media (max-width: 1024px) {
  .shadow {
    top: 70px;
  }

  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 460px;
    }
    to {
      background: hsl(var(--primary) / 50%);
      right: 160px;
    }
  }
}

@media (max-width: 768px) {
  .shadow {
    top: 70px;
    width: 100px;
    height: 350px;
    filter: blur(60px);
  }

  .section {
    min-height: calc(calc(100dvh - 60px) / 2);
  }

  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 280px;
    }
    to {
      background: hsl(var(--primary) / 30%);
      right: 100px;
    }
  }
}
